:root {
    /*fonts*/
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;

    /*text colors*/
    --main-txt-cl: #212121;
    --contct-txt-cl: #757575;
    --acceny-txt-cl: #2196F3;
    --white-txt-cl: #FFFFFF;
    --txt-logo-cl: #000000;

    /*bg colors*/
    --dark-bg-cl: #2F303A;
    --ligh-bg-cl: #F5F4FA;
    --btn-bg-hover-cl: #188CE8;
    --card-bg: #EEEEEE;

    /*others*/
    --columns-cl: #7000FF;
    --cards-cl: #FFFFFF;
    --line-cl: #ECECEC;
}

body {
    font-family: var(--main-font);
    font-size: 14px;
    line-height: 1.15;
    color: var(--main-txt-cl)
}

/* reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
}

.link {
    text-decoration: none;
    color: currentColor;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* base styles */

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    outline: 2px solid #7000FF;
    outline-offset: -2px;
}


.btn {

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 /12);
    /* identical to box height, or 188% */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white-txt-cl);
    cursor: pointer;
}


/* Header section */

/* .header {
    padding-top: 32px;
    padding-bottom: 32px;
} */

.header {
    border-bottom: 1px solid var(--line-cl)
}

.header-container {
    display: flex;
    align-items: center;

    /* padding-top: 32px;
    padding-bottom: 32px; */
}

.logo {
    margin-right: 93px;
}

.header-nav {
    margin-right: auto;
}

.header-list,
.header-cont-list {
    display: flex;
    gap: 50px;

}

.header-logo-cl {
    color: var(--txt-logo-cl);
}

.logo,
.footer-logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: var(--acceny-txt-cl);
}

.header-nav,
.header-list,
.header-cont-list {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
}

.header-link,
.header-phone,
.header-mail {
    display: inline-block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 12);
    letter-spacing: 0.02em;
    color: var(--main-txt-cl);
}

.header-phone,
.header-mail {
    color: #757575;
    padding-top: 32px;
    padding-bottom: 32px;

}

.header-mail {
    margin-right: 50px;
}

.header-mail:last-child {
    margin-right: 0px;
}

.header-mail-link {
    display: flex;
    align-items: center;
    justify-content: center;


}

.header-mail-container {
    display: flex;
}

.mail-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mail-txt {
    display: flex;
    margin-left: 10px;
}

.header-phone-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-phone-txt {
    display: flex;
    margin-left: 10px;
}

.header-phone-container {
    display: flex;
}



.header-link:hover,
.header-link:focus,
.header-phone:hover,
.header-phone:focus,
.header-mail:hover,
.header-mail:focus {
    color: var(--acceny-txt-cl);
}

.header-link-current {
    color: var(--acceny-txt-cl);
}


/* Hero section */

.hero {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../images/hero/background.jpg);


    background-repeat: no-repeat;
    background-position: center;

    padding-top: 200px;
    padding-bottom: 200px;
}

.hero:nth-child(1) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4));
}

.hero-container {
    left: 0px;
    top: 80px;



}

.hero,
.footer {
    background-color: var(--dark-bg-cl);
}


.main-title {
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60 / 44);
    /* or 136% */
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-txt-cl);

}

.hero-btn {
    min-width: 200px;
    min-height: 50px;
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    background: var(--acceny-txt-cl);
    color: var(--white-txt-cl);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;

    display: block;
    margin: 0 auto;

}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--btn-bg-hover-cl);
}

/* Peculiarities */

.peculiarities {
    padding-top: 94px;
}

.peculiartes-item-txt {
    margin-top: 30px;
}

/* Начало Отличий */


.peculiarities-list-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

}

.peculiarities-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;

    border-radius: 4px;
    color: #AFB1B8;
    background-color: #F5F4FA;
}



/* Конец Отличий */






/*Удалить*/

.container-clients {
    margin-top: 94px;
    margin-bottom: 94px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


.clients {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-txt-cl);
}


.clients-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
}



.clients-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    color: #AFB1B8;
    background-color: E5E5E5;



}

.clients-link:hover,
.clients-link:focus {
    color: #2196F3;
    border-color: #2196F3;

}


.clients-icon {
    fill: currentColor;
}

/* Удалить */




.peculiarities-list {
    display: flex;
    gap: 30px;
    flex-basis: 270px;
}


.peculiarities-subtitle {
    width: 270px;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-txt-cl);
    margin-bottom: 10px;
}


.peculiarities-desc {
    width: 270px;
    height: 75px;
    font-size: 14px;
    line-height: calc(24/14);
    /* or 171% */
    letter-spacing: 0.03em;
    color: var(--contct-txt-cl);
}

/*About*/

.about {
    padding-top: 94px;
    padding-bottom: 94px;
}

.about-title {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-txt-cl)
}

.about-list {
    display: flex;
    gap: 30px;
    margin-top: 50px;
}

.about-img,
.team-img,
.examples-img {
    display: block;
}



/* Team*/

.team {
    background-color: var(--ligh-bg-cl);
    padding-top: 94px;
    padding-bottom: 94px;
}


.team-list {
    margin-top: 50px;
    display: flex;
    gap: 30px;
}

.team-item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}


.team-item:nth-child(1) {
    background-color: var(--cards-cl);
    width: 270px;

}

.team-item:nth-child(2) {
    background-color: var(--cards-cl);
    width: 270px;
}

.team-item:nth-child(2) {
    background-color: var(--cards-cl);
    width: 270px;
}

.team-item:nth-child(3) {
    background-color: var(--cards-cl);
    width: 270px;
}

.team-item:nth-child(4) {
    background-color: var(--cards-cl);
    width: 270px;
}

.team-item-txt {
    padding-top: 30px;
    padding-bottom: 30px;

}


.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-txt-cl);
}

.team-img {
    display: block;
}

.team-subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-txt-cl);

}

.team-desc {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: calc(19 / 16);
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--contct-txt-cl);
    padding-top: 10px;
}


/* Clients */
.container-clients {
    margin-top: 94px;
    margin-bottom: 94px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


.clients {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-txt-cl);
}


.clients-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
}



.clients-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    color: #AFB1B8;
    background-color: E5E5E5;



}

.clients-link:hover,
.clients-link:focus {
    color: #2196F3;
    border-color: #2196F3;

}


.clients-icon {
    fill: currentColor;
}


/* Footer*/

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-logo {
    padding-top: 60px;

}


.footer-logo-cl {
    color: var(--white-txt-cl);
}

.footer-list {
    font-family: var(--main-font);
    font-style: normal;
    font-size: 14px;
    line-height: calc(24 / 14);
    /* or 171% */
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 20px;

}

.footer-link {
    color: var(--white-txt-cl);
    font-size: 14px;
    line-height: calc(24 / 14);
    /* or 171% */
    letter-spacing: 0.03em;
    color: var(--white-txt-cl);
}


.footer-container {
    display: flex;
    align-items: center;
    justify-content: center;


}

.join {
    color: #ffffff;

}

.join-txt {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-socials {
    margin-top: 20px;
}


.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.footer-socials-icon {
    fill: #FFFFFF;
}

.footer-socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.1);
    ;
    border-radius: 50%;

}

.socials-twitter {
    background-color: #2196F3;
}

.footer-socials-link:hover,
.footer-socials-link:focus {
    color: #FFFFFF;
    background-color: #2196F3;
}

.footer-socials-icon {
    fill: currentColor;
}











/* .footer-social-subtitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-txt-cl);
} */

/* 
Socials icons
*/

.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.socials-icon {
    fill: #AFB1B8;


}

.socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    color: #AFB1B8;
    background-color: #FFFFFF;
    border-radius: 50%;
    outline: 2px solid #FFFFFF;

}


.socials-link:hover,
.socials-link:focus {
    color: #FFFFFF;
    background-color: #2196F3;
}

.socials-icon {
    fill: currentColor;
}

/* .socials-link:hover {
    background-color: #2196F3;

}

.socials-link:hover .socials-icon {
    fill: #FFFFFF;
} */

/* Portfolio*/

.filter {
    padding-top: 94px;
    padding-top: 94px;
}

.filter-list {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.filter-list:last-child {
    margin-right: 0px;
}

.filter-btn {

    font-family: inherit;
    margin-left: 8px;
    padding-top: 6px;
    padding-right: 22px;
    padding-bottom: 6px;
    padding-left: 22px;

    background: var(--ligh-bg-cl);
    border-radius: 4px;
}

.filter-btn:hover,
.filter-btn:focus {
    color: var(--main-txt-cl);
}

.filter-btn-current {
    background-color: var(--acceny-txt-cl);
    color: var(--white-txt-cl);
}

.filter-btn {
    cursor: pointer;
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 14);
    letter-spacing: 0.03em;
    color: var(--main-txt-cl);
}

.examples-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 50px;
}


.examples-item {
    width: 370px;
    background: var(--cards-cl);
    border: 1px solid var(--card-bg);
}

.examples-box {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
}


.example-subtitle {
    font-weight: 700;
    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;
    color: var(--main-txt-cl);

}

.example-desc {
    font-size: 16px;
    line-height: calc(30 / 16);
    /* identical to box height, or 188% */
    letter-spacing: 0.03em;
    color: var(--contct-txt-cl);
    margin-top: 4px;
}

.examples-list {
    padding-bottom: 94px;
}


.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}